<footer>
    <div class="container">
        <div class="row">
            <div class="col px-lg-2 px-0">
                <div class="copyright text-primary-400 text-center py-5 border-top eng-font">
                    ©Vivre 2024 All right Reserved
                </div>
            </div>
        </div>
    </div>
</footer>