<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vivre 訂閱方案－付款</title>

</head>

<body>
    <%- include('./layout/navbar'); -%>
        <main>
            <div class="py-lg-10 py-9">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h1 class="page-title fs-4 fs-lg-1 text-primary text-center mb-lg-7 mb-5"><i
                                    class="bi bi-check2-circle"></i>付款成功</h1>
                        </div>
                        <div class="col-lg-6">
                            <div class="card p-lg-7 p-5 mb-5 bg-white">
                                <h2 class="mb-lg-7 mb-5 fs-4">訂購資訊</h2>
                                <div class="d-flex py-lg-5 mb-lg-7 mb-5 border-top justify-content-between">
                                    <h5>
                                        <span class="text-dark d-line-block mb-1 d-block">輕量型方案</span>
                                        <span class="fs-6 text-gray-400">年繳</span>
                                    </h5>
                                    <span class="eng-font text-dark">NT 1,188</span>
                                </div>
                                <div class="d-flex justify-content-between mb-3">
                                    <span>開始日</span>
                                    <span class="eng-font">2024 / 5 / 1</span>
                                </div>
                                <div class="d-flex justify-content-between border-bottom pb-5 mb-lg-7 mb-5">
                                    <span>終止日</span>
                                    <span class="eng-font">2025 / 5 / 1</span>
                                </div>
                                <a href="article-login.html" class=" btn btn-primary fs-5">瀏覽文章<i class="bi bi-arrow-right fs-4"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>